/* ========================================================================== */
/*                             Editor - Blockquote                            */
/* ========================================================================== */

body {
  --blockquote-background-color: var(--march-bg-accent);
  --blockquote-border-color: var(--march-accent);
  --blockquote-border-thickness: 3px;
  --blockquote-color: var(--march-accent);
}
