/* ========================================================================== */
/*                             Editor - Blockquote                            */
/* ========================================================================== */
.enable-styled-blockquotes {
  --blockquote-background-color: #{$color-accent-10};
  --blockquote-border-color: #{$color-accent};
  --blockquote-icon-color: #{$color-accent};

  --blockquote-padding: 0.625rem;
  --blockquote-radius: 0.625rem;

  --blockquote-border-style: 2px solid;
  // @param $border-style-none

  // @param var(--font-text-size)

  .markdown-rendered blockquote,
  .markdown-source-view.mod-cm6 .cm-blockquote-border:before,
  .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
    border-left: $border-style-none;
  }

  .markdown-preview-view blockquote {
    :has(blockquote),
    :last-child {
      background: transparent;
    }
  }

  /** Partial style(s) is(are) sourced or adapted from Blue Topaz (https://github.com/PKM-er/Blue-Topaz_Obsidian-css), and I would like to express my appreciation to WhyI (https://github.com/whyt-byte) and pkmer.cn (https://pkmer.cn). */
  &.enable-styled-blockquotes-add-icon {
    %blockquotes-add-icon {
      content: '\ee81';
      font-size: var(--font-text-size);
      font-family: boxicons;
      position: absolute;

      color: var(--blockquote-icon-color);
    }

    %blockquotes-no-icon-nested {
      content: '';
    }

    .markdown-source-view.mod-cm6.is-live-preview {
      .HyperMD-quote {
        padding: calc(var(--blockquote-padding) * 2) var(--blockquote-padding) var(--blockquote-padding) 0;
        + .HyperMD-quote {
          .cm-formatting.cm-formatting-quote.cm-quote {
            &:before {
              @extend %blockquotes-no-icon-nested;
            }
          }
        }

        .cm-formatting.cm-formatting-quote.cm-quote {
          &:before {
            @extend %blockquotes-add-icon;
            top: -0.05rem;
            left: 0.2rem;
          }
        }
      }
    }

    .markdown-preview-view.markdown-rendered blockquote {
      padding: calc(var(--blockquote-padding) * 2) var(--blockquote-padding) var(--blockquote-padding) 0;
      :has(blockquote),
      :last-child {
        p {
          &:first-of-type:before {
            @extend %blockquotes-no-icon-nested;
          }
        }
      }

      p {
        position: relative;
        margin: 0em;
        padding: 0 0 0 calc(var(--blockquote-padding) / 2);

        &:first-of-type:before {
          @extend %blockquotes-add-icon;
          font-size: var(--font-text-size);
          top: -1.2rem;
          left: 0.2rem;
        }
      }
    }
  }

  /** Rounded Corner is inspired from @Akifyss/obsidian-border(https://github.com/Akifyss/obsidian-border). */
  &.enable-styled-blockquotes-rounded-corner {
    .markdown-preview-view blockquote {
      border-radius: var(--blockquote-radius);

      :has(blockquote),
      :last-child {
        border-radius: 0;
      }
    }

    .markdown-rendered blockquote {
      border-radius: var(--blockquote-radius);
    }

    .markdown-source-view.mod-cm6.is-live-preview {
      .HyperMD-quote {
        border-radius: var(--blockquote-radius);

        &:has(+ .HyperMD-quote) {
          border-radius: var(--blockquote-radius) var(--blockquote-radius) 0 0;
        }

        + .HyperMD-quote {
          border-radius: 0 0 var(--blockquote-radius) var(--blockquote-radius);

          &:has(+ .HyperMD-quote) {
            border-radius: 0;
          }
        }
      }
    }
  }

  &.enable-styled-blockquotes-transparent-bg {
    --blockquote-background-color: transparent;
  }

  &.enable-styled-blockquotes-show-left-border {
    &.enable-styled-blockquotes-rounded-corner {
      .markdown-rendered blockquote,
      .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
        border-radius: 0 var(--blockquote-radius) var(--blockquote-radius) 0;
      }
    }

    .markdown-rendered blockquote,
    .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
      border-left: var(--blockquote-border-style) var(--blockquote-border-color);
    }

    .markdown-preview-view blockquote {
      :has(blockquote),
      :last-child {
        border-left: $border-style-none;
      }
    }
  }
}
