/* ========================================================================== */
/*                              Editor - Callout                              */
/* ========================================================================== */

/** 
 * from @spacewitches/Obsidian (https://github.com/spacewitches/Obsidian/blob/e6733131f09c7ae3f37d6e11498f7ad7c00bb8d5/Minimal%20Theme/calloutsOutline.css).
 */

body {
  --callout-border-width: 0.125rem;
  --callout-border-opacity: 0.5;
  --march-callout-border-style: dashed;
  --callout-radius: 0.625rem;

  --callout-padding: 0rem;
  --callout-title-padding: 0.8rem;
  --callout-content-padding: 0.8rem;

  .callout:has(.callout-content) {
    .is-collapsed {
      border-bottom: none;
    }
    &:not(.is-collapsed) {
      .callout-title {
        border-bottom: var(--callout-border-width) var(--march-callout-border-style) rgb(var(--callout-color), var(--callout-border-opacity));
      }
    }
  }
}
