/* ========================================================================== */
/*                             Editor - Codeblock                             */
/* ========================================================================== */

// Adding line numbers in code blocks is adapted from @AnubisNekhet/AnuPpuccin (https://github.com/AnubisNekhet/AnuPpuccin) (https://www.buymeacoffee.com/anubisnekhet).

body {
  --march-codeblock-line-number-color: var(--text-faint);

  .HyperMD-codeblock-begin {
    counter-reset: line-numbers;
  }
  .HyperMD-codeblock {
    .cm-foldPlaceholder::before {
      display: none;
    }
    &.cm-line:is(.HyperMD-codeblock-begin) .cm-indent::before {
      --indentation-guide-color: transparent;
    }
    &.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
      &.HyperMD-codeblock:not(.HyperMD-list-line) {
        padding-left: 3rem;
      }
      position: relative;
      &::before {
        align-items: flex-end;
        color: var(--march-codeblock-line-number-color);
        content: counter(line-numbers);
        counter-increment: line-numbers;
        display: table-caption;
        font-size: 0.8em;
        line-height: 1.3rem;
        height: 100%;
        justify-content: flex-end;
        left: 0;
        padding-right: 0.5rem;
        padding-top: 1px;
        position: absolute;
        text-align: right;
        width: 1.5rem;
      }
      &:hover {
        --march-codeblock-line-number-color: var(--march-accent);
      }
    }
  }
  .codeblock-hide-indent-lines .markdown-source-view.mod-cm6 .HyperMD-codeblock .cm-indent::before {
    border-right: none;
  }
  .HyperMD-codeblock.cm-line.cm-active:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::before {
    color: var(--march-accent);
  }
}

body {
  --march-code-background: var(--background-secondary);
  .cm-inline-code {
    --code-background: var(--march-code-background);
  }
  .HyperMD-codeblock.cm-line {
    --code-background: var(--march-code-background);
    .code-block-flair {
      top: 0;
      right: 0;
      border-radius: 0 0 0 var(--code-radius); //px
    }
  }
}
