/* ========================================================================== */
/*                             Editor - Codeblock                             */
/* ========================================================================== */

// Adding line numbers in code blocks is adapted from @AnubisNekhet/AnuPpuccin (https://github.com/AnubisNekhet/AnuPpuccin) (https://www.buymeacoffee.com/anubisnekhet).
// Dot Background is inspired from https://forum.obsidian.md/t/style-grid-background-and-dotted-background/90681.

body {
  --march-codeblock-line-number-color: var(--text-faint);

  .HyperMD-codeblock-begin {
    counter-reset: line-numbers;
  }
  .HyperMD-codeblock {
    .cm-foldPlaceholder::before {
      display: none;
    }
    &.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
      padding-left: 3rem;
      position: relative;
      &::before {
        align-items: flex-end;
        color: var(--march-codeblock-line-number-color);
        content: counter(line-numbers);
        counter-increment: line-numbers;
        display: table-caption;
        font-size: 0.8em;
        height: 100%;
        justify-content: flex-end;
        left: 0;
        padding-right: 0.5em;
        padding-top: 1px;
        position: absolute;
        text-align: right;
        width: 3em;
      }
    }
  }
  .codeblock-hide-indent-lines .markdown-source-view.mod-cm6 .HyperMD-codeblock .cm-indent::before {
    border-right: none;
  }
  .HyperMD-codeblock.cm-line.cm-active:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::before {
    color: var(--march-accent);
  }
}

body {
  .cm-inline-code {
    --code-background: var(--background-primary-alt);
  }
  .HyperMD-codeblock.cm-line {
    --code-background: var(--background-primary-alt);
    .code-block-flair {
      top: 0;
      right: 0;
      border-radius: 0 0 0 var(--code-radius); //px
    }
  }
}
