/* ========================================================================== */
/*                             Editor - Codeblock                             */
/* ========================================================================== */
/** Adding line numbers in code blocks is inspired from @AnubisNekhet/AnuPpuccin (https://github.com/AnubisNekhet/AnuPpuccin) (https://www.buymeacoffee.com/anubisnekhet) */
.enable-codeblock-line-numbers .HyperMD-codeblock-begin {
  counter-reset: line-numbers;
}

.enable-codeblock-line-numbers .HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
  padding-left: 3rem;
  position: relative;
}

.enable-codeblock-line-numbers .HyperMD-codeblock.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::before {
  align-items: flex-end;
  border-right: 1px solid $color-border;
  color: var(--text-faint);
  content: counter(line-numbers);
  counter-increment: line-numbers;
  display: table-caption;
  font-size: .8em;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  padding-right: 0.5em;
  padding-top: 1px;
  position: absolute;
  text-align: right;
  width: 3em;
}

.enable-codeblock-line-numbers.codeblock-hide-indent-lines .markdown-source-view.mod-cm6 .HyperMD-codeblock .cm-indent::before {
  border-right: $border-style-none;
}

.enable-codeblock-line-numbers .HyperMD-codeblock.cm-line.cm-active:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::before {
  color: $color-accent;
}

.enable-codeblock-line-numbers .HyperMD-codeblock .cm-foldPlaceholder::before {
  display: none;
}
