img[src*='#circle'],
.image-embed[src*='#circle'] img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50% !important;
}

img[src*='#center'],
.markdown-rendered img[src*='#center'],
.cm-content .image-embed[src*='#center'] {
  display: block !important;
  margin-inline: auto !important;
}

div[src*='#center'],
span[src*='#center'] {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
}
