:is(body) {
  --march-formatted-text-highlight-bg: hsl(56, 100%, 50%);
  --march-formatted-text-highlight-fg: hsl(0, 0%, 0%);

  // /** Flatwhite Syntax from Atom: https://github.com/biletskyy/flatwhite-syntax */
  --march-formatted-text-bold-bg: #f7e0c3;

  // /** Flatwhite Syntax from Atom: https://github.com/biletskyy/flatwhite-syntax */
  --march-formatted-text-italic-bg: #d2ebe3;
}

.theme-light {
  --march-formatted-text-bg-height: 0.6rem;
}
.theme-dark {
  --march-formatted-text-bg-height: 0rem;
  --bold-color: var(--march-formatted-text-bold-bg);
  --italic-color: var(--march-formatted-text-italic-bg);
}

.cm-highlight,
mark,
.search-result-file-matched-text {
  background-color: var(--march-formatted-text-highlight-bg) !important;
  color: var(--march-formatted-text-highlight-fg) !important;

  --link-color: var(--text-on-accent);
  --march-internal-link-background-color: var(--march-accent);
  --link-external-color: var(--text-on-accent);
  --march-external-link-background-color: var(--march-accent);
}

b,
strong,
.cm-strong {
  color: var(--bold-color);
  box-shadow: inset 0 calc(var(--march-formatted-text-bg-height) * -1) 0 0 var(--march-formatted-text-bold-bg);

  --link-color: var(--text-on-accent);
  --march-internal-link-background-color: var(--march-accent);
  --link-external-color: var(--text-on-accent);
  --march-external-link-background-color: var(--march-accent);

  & i,
  & em,
  &.cm-em {
    box-shadow:
      inset 0 calc(var(--march-formatted-text-bg-height) / 2 * -1) 0 0 var(--march-formatted-text-bold-bg),
      inset 0 calc(var(--march-formatted-text-bg-height) * -1) 0 0 var(--march-formatted-text-italic-bg);
  }

  &.cm-inline-code {
    box-shadow: inset 0 0 0 0 var(--march-formatted-text-bold-bg);
  }
}

i,
em,
.cm-em {
  color: var(--italic-color);
  box-shadow: inset 0 calc(var(--march-formatted-text-bg-height) * -1) 0 0 var(--march-formatted-text-italic-bg);
  padding-right: 0.2rem;

  --link-color: var(--text-on-accent);
  --march-internal-link-background-color: var(--march-accent);
  --link-external-color: var(--text-on-accent);
  --march-external-link-background-color: var(--march-accent);

  & b,
  & strong,
  &.cm-strong {
    box-shadow:
      inset 0 calc(var(--march-formatted-text-bg-height) / 2 * -1) 0 0 var(--march-formatted-text-bold-bg),
      inset 0 calc(var(--march-formatted-text-bg-height) * -1) 0 0 var(--march-formatted-text-italic-bg);
  }
  &.cm-inline-code {
    box-shadow: inset 0 0 0 0 var(--march-formatted-text-bold-bg);
  }
}
