/* ========================================================================== */
/*                              Editor - Headings                             */
/* ========================================================================== */
.enable-styled-headings {
  &.styled-headings-rainbow {
    --h1-color-rgb: #{$rgb-colors-extend-color-red};
    --h2-color-rgb: #{$rgb-colors-extend-color-orange};
    --h3-color-rgb: #{$rgb-colors-extend-color-green};
    --h4-color-rgb: #{$rgb-colors-extend-color-cyan};
    --h5-color-rgb: #{$rgb-colors-extend-color-blue};
    --h6-color-rgb: #{$rgb-colors-extend-color-purple};
    --h1-color: rgb(var(--h1-color-rgb));
    --h2-color: rgb(var(--h2-color-rgb));
    --h3-color: rgb(var(--h3-color-rgb));
    --h4-color: rgb(var(--h4-color-rgb));
    --h5-color: rgb(var(--h5-color-rgb));
    --h6-color: rgb(var(--h6-color-rgb));
  }
  &.styled-headings-bg {
    :is(.markdown-source-view, .markdown-preview-view, .metadata-content) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .HyperMD-header {
        background-color: color-mix(in srgb, currentColor 10%, transparent);
      }
    }
    .cm-s-obsidian .cm-line.HyperMD-header {
      padding-top: 0;
    }
  }
  &.styled-headings-rounded {
    :is(.markdown-source-view, .markdown-preview-view, .metadata-content) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .HyperMD-header {
        border-radius: var(--radius-m);
      }
    }
  }
  &.styled-headings-underline {
    :is(.markdown-source-view, .markdown-preview-view, .metadata-content) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .HyperMD-header {
        border-bottom: 2px solid currentColor;
      }
    }
  }
  /** styled-headings-indicator is inspired from @deathau/obsidian-snippets (https://github.com/deathau/obsidian-snippets/blob/main/clutter-free-headings.css) */
  %styled-headings-indicator-size {
    $heading-indicator-font-size: 0.6rem;
    display: inline-block;
    white-space: nowrap;
    word-wrap: none;
    width: 0;
    overflow: visible;
    font-size: $heading-indicator-font-size;
    color: currentColor;
    padding-right: $heading-indicator-font-size * 1.7;
  }
  &.styled-headings-indicator {
    .HyperMD-header:not(.cm-active) span.cm-header {
      & ~ span.cm-header,
      &.cm-link,
      &.cm-hmd-internal-link {
        &::before {
          padding-right: 0;
        }
      }
      &::before {
        @extend %styled-headings-indicator-size;
      }
    }
    .HyperMD-header:not(.cm-active):not(.cm-link) {
      $list: (1, 2, 3, 4, 5, 6);
      @each $item in $list {
        span.cm-header-#{$item} {
          ~ span.cm-header-#{$item},
          &.cm-link,
          &.cm-hmd-internal-link {
            &::before {
              content: '';
              margin-left: 0px;
            }
          }
          &::before {
            content: 'H#{$item}';
            margin-left: 5px;
          }
        }
      }
    }
    $list: (1, 2, 3, 4, 5, 6);
    @each $item in $list {
      h#{$item} {
        &::before {
          content: 'H#{$item}';
          margin-left: 5px;
          @extend %styled-headings-indicator-size;
        }
      }
    }
  }
}
