/* ========================================================================== */
/*                               Editor - Links                               */
/* ========================================================================== */

/** 
 * Styled links is inspired from @subframe7536/obsidian-theme-maple (https://github.com/subframe7536/obsidian-theme-maple) and @kepano/obsidian-minimal(https://github.com/kepano/obsidian-minimal)
 */

body {
  --march-link-icon-size: calc(var(--font-text-size));

  --march-internal-link-decoration-style: dashed;
  --march-external-link-decoration-style: dashed;

  --march-internal-link-icon-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1vdXRsaW5lIGljb24tdGFibGVyLW1hcmtkb3duIj48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMyA3YTIgMiAwIDAgMSAyIC0yaDE0YTIgMiAwIDAgMSAyIDJ2MTBhMiAyIDAgMCAxIC0yIDJoLTE0YTIgMiAwIDAgMSAtMiAtMnYtMTAiIC8+PHBhdGggZD0iTTcgMTV2LTZsMiAybDIgLTJ2NiIgLz48cGF0aCBkPSJNMTQgMTNsMiAybDIgLTJtLTIgMnYtNiIgLz48L3N2Zz4=');
  --march-external-link-icon-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNxdWFyZS1hcnJvdy11cC1yaWdodC1pY29uIGx1Y2lkZS1zcXVhcmUtYXJyb3ctdXAtcmlnaHQiPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iMyIgcng9IjIiLz48cGF0aCBkPSJNOCA4aDh2OCIvPjxwYXRoIGQ9Im04IDE2IDgtOCIvPjwvc3ZnPg==');

  --link-color: var(--march-accent);
  --link-external-color: var(--march-accent);
}

// Adapted From : https://stackoverflow.com/questions/54616139/how-can-i-animate-underline-from-left-to-right
@mixin link-underline-animation() {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(currentColor 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;

  &:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
    text-decoration: none;
  }
}

body {
  span.cm-link,
  .cm-url:not(.cm-string) {
    &:hover {
      text-decoration: none;
    }
  }
  .external-link {
    background-image: none;
    padding-right: 0;
  }
  span.external-link {
    display: none;
  }
}

:not(.multi-select-container) body {
  --link-decoration: none;
  --link-decoration-hover: none;

  :is(.markdown-source-view, .markdown-preview-view, .metadata-content, .markdown-rendered) {
    .internal-link:not(.multi-select-pill),
    .multi-select-pill-content.internal-link,
    a.internal-link:not(.is-unresolved),
    .is-unresolved:not(.multi-select-pill),
    .cm-hmd-internal-link > .cm-underline {
      color: var(--link-color);
      padding: 0 5px 0;
      @include link-underline-animation();
      &::after {
        content: '';
        display: inline-block;
        width: var(--march-link-icon-size);
        height: var(--march-link-icon-size);
        margin-left: var(--size-2-1);
        background-color: currentColor;
        background-image: none;
        -webkit-mask-image: var(--march-internal-link-icon-image);
        mask-image: var(--march-internal-link-icon-image);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat-x: no-repeat;
        -webkit-mask-repeat-y: no-repeat;
        mask-repeat: no-repeat;
        transform: translateY(var(--size-2-1));
      }
    }
  }
}

:not(.multi-select-container) body {
  --link-external-decoration: none;
  --link-external-decoration-hover: none;

  :is(.markdown-source-view, .markdown-preview-view, .metadata-content, .markdown-rendered) {
    a.external-link,
    .external-link:not(.multi-select-pill, .cm-formatting),
    .external-link .multi-select-pill-content,
    :is(.cm-link:not(.cm-hmd-footnote, .cm-escape), .cm-url) > .cm-underline {
      &:not(.cm-escape + .cm-link .cm-underline) {
        padding: 0 4.8px 0 3.2px;
        @include link-underline-animation();
        &::after {
          content: '';
          display: inline-block;
          width: var(--march-link-icon-size);
          height: var(--march-link-icon-size);
          margin-left: var(--size-2-1);
          background-color: currentColor;
          background-image: none;
          -webkit-mask-image: var(--march-external-link-icon-image);
          mask-image: var(--march-external-link-icon-image);
          -webkit-mask-size: 100%;
          mask-size: 100%;
          -webkit-mask-repeat-x: no-repeat;
          -webkit-mask-repeat-y: no-repeat;
          mask-repeat: no-repeat;
          transform: translateY(var(--size-2-1));
        }
      }
    }
  }
}

// disable-styled-links-in-headings
body {
  $list: (1, 2, 3, 4, 5, 6);
  @each $item in $list {
    .markdown-source-view,
    .markdown-preview-view {
      span.cm-header-#{$item},
      h#{$item} {
        &:not(.cm-highlight, :hover) {
          --link-color: var(--h#{$item}-color);
          --link-external-color: var(--h#{$item}-color);
        }
        &.cm-highlight:not(:hover) {
          --link-color: currentColor;
          --link-external-color: currentColor;
        }
        &.cm-hmd-internal-link > .cm-underline,
        &:is(.cm-link:not(.cm-hmd-footnote, .cm-escape), .cm-url) > .cm-underline:not(.cm-escape + .cm-link .cm-underline),
        a.internal-link:not(.is-unresolved),
        a.internal-link.is-unresolved,
        a.external-link:not(.cm-escape + .cm-link .cm-underline) {
          border-radius: 0;
          padding: 0;
          text-decoration-line: underline;
        }
      }
    }
  }
}
