/* ========================================================================== */
/*                               Editor - Links                               */
/* ========================================================================== */

/** 
 * Styled links is inspired from @subframe7536/obsidian-theme-maple (https://github.com/subframe7536/obsidian-theme-maple) and @kepano/obsidian-minimal(https://github.com/kepano/obsidian-minimal)
 */

body {
  --march-link-icon-size: calc(var(--font-text-size) - 2px);

  --march-link-border-radius: 0.625rem;

  --march-internal-link-decoration-style: dashed;
  --march-external-link-decoration-style: dashed;

  --march-internal-link-icon-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text-icon lucide-file-text"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>');
  --march-external-link-icon-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>');

  --link-color: var(--march-accent);
  --march-internal-link-background-color: var(--march-bg-accent);
  --link-external-color: var(--march-accent);
  --march-external-link-background-color: var(--march-bg-accent);
}

body {
  span.cm-link,
  .cm-url:not(.cm-string) {
    &:hover {
      text-decoration: none;
    }
  }
  .external-link {
    background-image: none;
    padding-right: 0;
  }
  span.external-link {
    display: none;
  }
}

body {
  --link-decoration: none;
  --link-decoration-hover: none;

  :is(.markdown-source-view, .markdown-preview-view, .metadata-content) {
    .internal-link,
    a.internal-link:not(.is-unresolved),
    .cm-hmd-internal-link > .cm-underline {
      background-color: var(--march-internal-link-background-color);
      border-radius: var(--march-link-border-radius);
      padding: 0 4.8px 0 3.2px;
      &:hover {
        color: var(--link-color);
        text-decoration-line: underline !important;
        text-decoration-thickness: var(--link-decoration-thickness);
        text-decoration-style: var(--march-internal-link-decoration-style);
        text-decoration-color: var(--link-color);
      }
      &::before {
        content: '';
        display: inline-block;
        width: var(--march-link-icon-size);
        height: var(--march-link-icon-size);
        margin-left: var(--size-2-1);
        margin-right: var(--size-2-1);
        background-color: var(--link-color);
        background-image: none;
        -webkit-mask-image: var(--march-internal-link-icon-image);
        mask-image: var(--march-internal-link-icon-image);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat-x: no-repeat;
        -webkit-mask-repeat-y: no-repeat;
        mask-repeat: no-repeat;
      }
    }
  }
}

body {
  --link-external-decoration: none;
  --link-external-decoration-hover: none;

  :is(.markdown-source-view, .markdown-preview-view, .metadata-content) {
    a.external-link,
    .external-link,
    :is(.cm-link:not(.cm-hmd-footnote, .cm-escape), .cm-url) > .cm-underline {
      &:not(.cm-escape + .cm-link .cm-underline) {
        background-color: var(--march-external-link-background-color);
        border-radius: var(--march-link-border-radius);
        padding: 0 4.8px 0 3.2px;
        &:hover {
          color: var(--link-external-color);
          text-decoration-line: underline;
          text-decoration-thickness: var(--link-decoration-thickness);
          text-decoration-style: var(--march-external-link-decoration-style);
          text-decoration-color: var(--link-external-color);
        }
        &::before {
          content: '';
          display: inline-block;
          width: var(--march-link-icon-size);
          height: var(--march-link-icon-size);
          margin-left: var(--size-2-1);
          margin-right: var(--size-2-1);
          background-color: var(--link-external-color);
          background-image: none;
          -webkit-mask-image: var(--march-external-link-icon-image);
          mask-image: var(--march-external-link-icon-image);
          -webkit-mask-size: 100%;
          mask-size: 100%;
          -webkit-mask-repeat-x: no-repeat;
          -webkit-mask-repeat-y: no-repeat;
          mask-repeat: no-repeat;
        }
      }
    }
  }
}

.disable-styled-links-in-headings {
  $list: (1, 2, 3, 4, 5, 6);
  @each $item in $list {
    .markdown-source-view,
    .markdown-preview-view {
      span.cm-header-#{$item},
      h#{$item} {
        --link-color: var(--h#{$item}-color);
        --link-external-color: var(--h#{$item}-color);
        --march-internal-link-background-color: transparent;
        --march-external-link-background-color: transparent;
        &.cm-hmd-internal-link > .cm-underline,
        &:is(.cm-link:not(.cm-hmd-footnote, .cm-escape), .cm-url) > .cm-underline:not(.cm-escape + .cm-link .cm-underline),
        a.internal-link:not(.is-unresolved),
        a.internal-link.is-unresolved,
        a.external-link:not(.cm-escape + .cm-link .cm-underline) {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
