/* ========================================================================== */
/*                               Editor - Table                               */
/* ========================================================================== */

body {
  --table-header-background: var(--march-bg-accent);
  --table-header-background-hover: var(--table-header-background);
  --table-header-color: var(--march-accent);
  --table-border-color: var(--march-50-accent);
}
