// Black and white
$colors-mono-bg: rgb(var(--mono-rgb-0));
$colors-mono-text: rgb(var(--mono-rgb-100));
$rgb-colors-mono-bg: var(--mono-rgb-0);
$rgb-colors-mono-text: var(--mono-rgb-100);

// Background
$colors-bg-primary: var(--background-primary);
