/* @settings

name: ⭐️ SkySky Theme
id: skysky-theme-editor
settings:
    - 
        id: heading-Editor
        title: Editor
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-headings
        title: Enable Styled Headings
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-headings
        title: Headings Feature
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-headings-rainbow
        title: Enable Rainbow Colors
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-headings-bg
        title: Enable Background
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-headings-rounded
        title: Enable Rounded Corners
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false
    -
        id: styled-headings-underline
        title: Enable Dashed Underline
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-headings-indicator
        title: Enable H1 Indicators on Unactive Lines
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links
        title: Links
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-links
        title: Enable Styled Links
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links-feature
        title: Feature
        type: heading
        level: 3
        collapsed: true
    -
        id: disable-styled-links-in-headings
        title: Disable Link Style in Headings
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links-external
        title: External Link
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-link-external-style
        title: Enable Color Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-link-add-external-icon
        title: Enable Styled Icon
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links-internal
        title: Internal Link
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-link-internal-style
        title: Enable Color Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-link-add-internal-icon
        title: Enable Styled Icon
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    
    - 
        id: heading-tags
        title: Tags
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-tag-click-to-edit
        title: Enable Directly Click Tag to Edit
        description: Toggle to turn on/off function. Click hash icon can do the default action (search tag).
        type: class-toggle
        default: true
    - 
        id: heading-checkbox
        title: Checkbox
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-checkbox-rounded 
        title: Enable Rounded Checkbox
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-checkbox-custom 
        title: Enable Additional Custom Status
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-codeblock
        title: Codeblock
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-codeblock-line-numbers 
        title: Enable Line Numbers (Editing Mode)
        description: Toggle to turn on/off function, and this only works in Editing Mode.
        type: class-toggle
        default: true
    -
        id: codeblock-hide-indent-lines 
        title: Hide Indent Lines (Editing Mode)
        description: Toggle to turn on/off function, and this only works in Editing Mode.
        type: class-toggle
        default: true
    - 
        id: heading-blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-blockquotes
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-blockquotes-add-icon
        title: Add a Quotation Mark
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-blockquotes-rounded-corner
        title: Enable Rounded Corner
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false

    -
        id: enable-styled-blockquotes-transparent-bg
        title: Disable Accent Background
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false
    -
        id: enable-styled-blockquotes-show-left-border
        title: Show Left Border
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-embed
        title: Embed
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-embed
        title: Choose an Embed Style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: enable-styled-embed-pure-border
        options:
            - 
                label: Default
                value: none
            - 
                label: Border
                value: enable-styled-embed-border
            - 
                label: Filled
                value: enable-styled-embed-filled
            - 
                label: Transparent
                value: enable-styled-embed-transparent
            - 
                label: Pure
                value: enable-styled-embed-pure
            - 
                label: Pure (Border)
                value: enable-styled-embed-pure-border
    - 
        id: heading-horizontal-rules
        title: Horizontal-Rules
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-horizontal-rules
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-table
        title: Table
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-table
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-table-rounded
        title: Enable Rounded Corners
        description: Toggle to turn on/off function. Only works if the above option "Enable Style" is enabled.
        type: class-toggle
        default: true
    - 
        id: heading-callout
        title: Callout
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-callout
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-callouts
        title: Choose a Callout style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: callout-style-001
        options:
            - 
                label: Default
                value: none
            - 
                label: Rounded Dashed Outline
                value: callout-style-001
            - 
                label: Rounded Outline (Filled Bg)
                value: callout-style-002
            - 
                label: Rounded Outline (White Bg)
                value: callout-style-003
    - 
        id: heading-Plugin
        title: Plugins
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-file-explorer
        title: File Explorer
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-file-explorer
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-file-explorer-feature
        title: Feature
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-file-explorer-vault-name-position
        title: Enable Sticky Vault Name and Navbar
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-folder-icon
        title: Enable Custom Indicators for Folders
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-file-icon
        title: Enable Custom Icons for Files
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow
        title: Enable Rainbow Colors
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-file-explorer-feature-rainbow
        title: Rainbow Colors
        type: heading
        level: 4
        collapsed: true
    -
        id: styled-file-explorer-rainbow-subfolders
        title: Inherit Colors (Subfolders
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow-folder-name-icon
        title: Color Folder Name and Icon
        description: Toggle to turn on/off function. Also Bold Folder Name.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow-folder-indent-line
        title: Color Indent Line
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow-bg
        title: Color Folder Background
        description: Toggle to turn on/off function.
        type: class-select
        allowEmpty: false
        default: none
        options:
            - 
                label: Default
                value: none
            - 
                label: Rounded
                value: styled-file-explorer-rainbow-bg1
            - 
                label: Solid
                value: styled-file-explorer-rainbow-bg2
*/
