/* @settings

name: SkySky Theme
id: skysky-theme-editor
settings:
    - 
        id: heading-checkbox
        title: Checkbox
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-checkbox-rounded 
        title: Enable rounded checkbox
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-checkbox-custom 
        title: Enable custom checkbox
        description: Toggle to turn on/off function. add cancel, and others.
        type: class-toggle
        default: true
    - 
        id: heading-codeblock
        title: Codeblock
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-codeblock-line-numbers 
        title: Enable line numbers in code blocks (Editing Mode)
        description: Toggle to turn on/off function, and this only works in Editing Mode.
        type: class-toggle
        default: true
    -
        id: codeblock-hide-indent-lines 
        title: Hide indent lines in code blocks (Editing Mode)
        description: Toggle to turn on/off function, and this only works in Editing Mode.
        type: class-toggle
        default: true
    - 
        id: heading-blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-blockquotes
        title: Enable Styled Blockquotes
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-blockquotes-add-icon
        title: Add a quotation mark
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-blockquotes-rounded-corner
        title: Enable rounded corner
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false

    -
        id: enable-styled-blockquotes-transparent-bg
        title: Disable accent background
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false
    -
        id: enable-styled-blockquotes-show-left-border
        title: Show left border
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-embed
        title: Embed
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-embed
        title: Choose an Embed Style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: enable-styled-embed-pure-border
        options:
            - 
                label: Default
                value: none
            - 
                label: Border
                value: enable-styled-embed-border
            - 
                label: Filled
                value: enable-styled-embed-filled
            - 
                label: Transparent
                value: enable-styled-embed-transparent
            - 
                label: Pure
                value: enable-styled-embed-pure
            - 
                label: Pure (Border)
                value: enable-styled-embed-pure-border
    - 
        id: heading-horizontal-rules
        title: Horizontal-Rules
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-horizontal-rules
        title: Enable Styled Horizontal-Rules
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-callout
        title: Callout
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-callout
        title: Enable Styled Callout
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-callouts
        title: Choose a Callout style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: callout-style-001
        options:
            - 
                label: Default
                value: none
            - 
                label: Rounded Dashed Outline
                value: callout-style-001
            - 
                label: Rounded Outline (Filled Bg)
                value: callout-style-002
            - 
                label: Rounded Outline (White Bg)
                value: callout-style-003
*/
