/* @settings

name: ⭐️ SkySky Theme
id: skysky-theme-editor
settings:
    - 
        id: heading-layout
        title: Layout
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-custom-layout
        title: Custom Layout
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-custom-layout
        title: Choose an Style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: enable-custom-layout-colorful-frame
        options:
            - 
                label: Default
                value: none
            - 
                label: Colorful Frame
                value: enable-custom-layout-colorful-frame
            - 
                label: Card (WIP)
                value: enable-custom-layout-card
    - 
        id: heading-color-scheme
        title: Color Scheme
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-color-scheme
        title: Choose an Style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: none
        options:
            - 
                label: Default
                value: none
            - 
                label: Nord
                value: color-scheme-nord
            - 
                label: Palette1
                value: color-scheme-palette1
    - 
        id: heading-status-bar
        title: Status Bar
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-status-bar
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-status-bar-show-hover
        title: Enable Status Bar Only Show on Hover
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-scrollbar
        title: Scroll Bar
        type: heading
        level: 2
        collapsed: true
    -
        id: layout-scrollbar-hide
        title: Hide Scroll Bar
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-Editor
        title: Editor
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-headings
        title: Enable Styled Headings
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-headings
        title: Headings Feature
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-headings-rainbow
        title: Enable Rainbow Colors
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-headings-bg
        title: Enable Background
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-headings-rounded
        title: Enable Rounded Corners
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-headings-underline
        title: Enable Underline
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false
    -
        id: styled-headings-indicator
        title: Enable H1 Indicators on Unactive Lines
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links
        title: Links
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-links
        title: Enable Styled Links
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links-feature
        title: Feature
        type: heading
        level: 3
        collapsed: true
    -
        id: disable-styled-links-in-headings
        title: Disable Link Style in Headings
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links-external
        title: External Link
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-link-external-style
        title: Enable Color Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-link-add-external-icon
        title: Enable Styled Icon
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-links-internal
        title: Internal Link
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-link-internal-style
        title: Enable Color Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-link-add-internal-icon
        title: Enable Styled Icon
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    
    - 
        id: heading-tags
        title: Tags
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-tag-click-to-edit
        title: Enable Directly Click Tag to Edit
        description: Toggle to turn on/off function. Click hash icon can do the default action (search tag).
        type: class-toggle
        default: true
    -
        id: enable-tag-rainbow-color
        title: Enable Rainbow Color
        description: Toggle to turn on/off function. 
        type: class-toggle
        default: true
    - 
        id: heading-checkbox
        title: Checkbox
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-checkbox-rounded 
        title: Enable Rounded Checkbox
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-checkbox-custom 
        title: Enable Additional Custom Status
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-codeblock
        title: Codeblock
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-codeblock-line-numbers 
        title: Enable Line Numbers (Editing Mode)
        description: Toggle to turn on/off function, and this only works in Editing Mode.
        type: class-toggle
        default: true
    -
        id: codeblock-hide-indent-lines 
        title: Hide Indent Lines (Editing Mode)
        description: Toggle to turn on/off function, and this only works in Editing Mode.
        type: class-toggle
        default: true
    - 
        id: heading-blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-blockquotes
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-blockquotes-add-icon
        title: Add a Quotation Mark
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-blockquotes-rounded-corner
        title: Enable Rounded Corner
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false

    -
        id: enable-styled-blockquotes-transparent-bg
        title: Disable Accent Background
        description: Toggle to turn on/off function.
        type: class-toggle
        default: false
    -
        id: enable-styled-blockquotes-show-left-border
        title: Show Left Border
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-embed
        title: Embed
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-embed
        title: Choose an Embed Style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: enable-styled-embed-pure-border
        options:
            - 
                label: Default
                value: none
            - 
                label: Border
                value: enable-styled-embed-border
            - 
                label: Filled
                value: enable-styled-embed-filled
            - 
                label: Transparent
                value: enable-styled-embed-transparent
            - 
                label: Pure
                value: enable-styled-embed-pure
            - 
                label: Pure (Border)
                value: enable-styled-embed-pure-border
    - 
        id: heading-horizontal-rules
        title: Horizontal-Rules
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-horizontal-rules
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-table
        title: Table
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-table
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-table-rounded
        title: Enable Rounded Corners
        description: Toggle to turn on/off function. Only works if the above option "Enable Style" is enabled.
        type: class-toggle
        default: true
    - 
        id: heading-callout
        title: Callout
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-callout
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: enable-styled-callouts
        title: Choose a Callout style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: callout-style-001
        options:
            - 
                label: Default
                value: none
            - 
                label: Rounded Dashed Outline
                value: callout-style-001
            - 
                label: Rounded Outline (Filled Bg)
                value: callout-style-002
            - 
                label: Rounded Outline (White Bg)
                value: callout-style-003
    - 
        id: heading-Plugin
        title: Plugins
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-file-explorer
        title: File Explorer
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-file-explorer
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-file-explorer-feature
        title: Feature
        type: heading
        level: 3
        collapsed: true
    -
        id: styled-file-explorer-vault-name-position
        title: Enable Sticky Vault Name and Navbar
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-folder-icon
        title: Enable Custom Indicators for Folders
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-file-icon
        title: Enable Custom Icons for Files
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow
        title: Enable Rainbow Colors
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-file-explorer-feature-rainbow
        title: Rainbow Colors
        type: heading
        level: 4
        collapsed: true
    -
        id: styled-file-explorer-rainbow-subfolders
        title: Inherit Colors (Subfolders)
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow-folder-name-icon
        title: Color Folder Name and Icon
        description: Toggle to turn on/off function. Also Bold Folder Name.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow-folder-indent-line
        title: Color Indent Line
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-file-explorer-rainbow-bg
        title: Color Folder Background
        description: Toggle to turn on/off function.
        type: class-select
        allowEmpty: false
        default: none
        options:
            - 
                label: Default
                value: none
            - 
                label: Rounded
                value: styled-file-explorer-rainbow-bg1
            - 
                label: Solid
                value: styled-file-explorer-rainbow-bg2
    - 
        id: heading-outline
        title: Outline
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-outline-maple-outline
        title: Enable Outline Style from Maple Theme
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-calendar
        title: Calendar
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-custom-calendar-plugin
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: info-text-setting
        title: Calendar Plugin
        description: "Calendar Plugin v1.5.10 https://github.com/liamcain/obsidian-calendar-plugin"
        type: info-text
        markdown: true
    - 
        id: heading-calendar-style
        title: Style
        type: heading
        level: 3
        collapsed: true
    -
        id: calendar-plugin-hide-tab
        title: Hide Sidebar's Calendar Tab 
        description: Toggle to turn on/off function. This will hide all tabs in the same section.
        type: class-toggle
        default: false
    -
        id: calendar-plugin-hide-dots
        title: Hide Dots
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: calendar-plugin-enable-weekend-bg
        title: Show Weekend/Holiday Backgrounds
        description: Toggle to turn on/off function. 
        type: class-toggle
        default: false
    -
        id: calendar-plugin-enable-weekend-text
        title: Show Weekend/Holiday Bold and Colored Red
        description: Toggle to turn on/off function. 
        type: class-toggle
        default: true
    -
        id: calendar-plugin-enable-border
        title: Toggle Border 
        description: Toggle to turn on/off function. 
        type: class-select
        allowEmpty: false
        default: calendar-plugin-enable-border-02
        options:
            - 
                label: Default
                value: none
            - 
                label: Type-01
                value: calendar-plugin-enable-border-01
            - 
                label: Type-02
                value: calendar-plugin-enable-border-02
            - 
                label: Type-03
                value: calendar-plugin-enable-border-03
    -
        id: calendar-plugin-enable-primary-bg
        title: Enable Primary Background
        description: Toggle to turn on/off function. 
        type: class-toggle
        default: true
    - 
        id: heading-calendar-tags
        title: Tag Settings
        type: heading
        level: 3
        collapsed: true
    -
        id: calendar-plugin-enable-holiday-tag
        title: Enable Appearence of calendar-is-holiday tag
        description: Toggle to turn on/off function. If daily notes's properties include tags named `calendar-is-holiday`, color of the date on calendar will change if that day is originally not a holiday.
        type: class-toggle
        default: true
    -
        id: calendar-plugin-enable-work-tag
        title: Enable Appearence of calendar-is-work tag
        description: Toggle to turn on/off function. If daily notes's properties include tags named `calendar-is-work`, color of the date on calendar will change if that day is originally a holiday.
        type: class-toggle
        default: true
    -
        id: calendar-plugin-enable-emoji-tag
        title: Enable Appearence of emoji tag
        description: Toggle to turn on/off function. If daily notes's properties include tags starts with emoji, an emoji icon will appear on calendar (If you have more than one emoji tags, only the first one works). The emoji need to be at the start of the tag.
        type: class-toggle
        default: true
*/
