/* @settings

name: March Theme - Editor & Layout
id: march-theme-editor
settings:
    - 
        id: heading-layout
        title: Layout
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-custom-layout
        title: Custom Layout
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-layout
        title: Choose an Style
        description: Toggle a custom style.
        type: class-select
        allowEmpty: false
        default: enable-custom-layout-style-01
        options:
            - 
                label: Default
                value: none
            - 
                label: Round 01
                value: enable-custom-layout-style-01
    - 
        id: heading-status-bar
        title: Status Bar
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-styled-status-bar
        title: Enable Style
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    -
        id: styled-status-bar-show-hover
        title: Enable Status Bar Only Show on Hover
        description: Toggle to turn on/off function.
        type: class-toggle
        default: true
    - 
        id: heading-tab
        title: Tab
        type: heading
        level: 2
        collapsed: true
    -
        id: enable-tab-style
        title: Enable Styled Tab
        description: Toggle to turn on/off function.
        type: class-select
        allowEmpty: false
        default: enable-tab-style1
        options:
            - 
                label: Default
                value: none
            - 
                label: Style 01
                value: enable-tab-style1
    -
        id: enable-tab-shrink-pinned-tab 
        title: Shrink Pinned Tab
        description: Shows the pin icon and note's icon if you set one from Iconize Plugin.
        type: class-toggle
        default: true
    -
        id: enable-tab-show-full-title
        title: Show Full Title
        description: Toggle to turn on/off function.
        type: class-select
        allowEmpty: false
        default: enable-tab-always-show-full-title
        options:
            - 
                label: None
                value: none
            - 
                label: on Hover
                value: enable-tab-hover-show-full-title
            -
                label: Always
                value: enable-tab-always-show-full-title
    - 
        id: heading-Editor
        title: Editor
        type: heading
        level: 1
        collapsed: true
    - 
        id: heading-headings
        title: Headings
        type: heading
        level: 2
        collapsed: true
    -
        id: h1-size
        title: Headings 1 Font Size
        type: variable-number
        default: 2.4
        format: rem
    -
        id: h1-color
        title: Headings 1 Font Color
        type: variable-color
        default: var(--color-red)
        format: hex
    -
        id: h1-indicator-color
        title: Headings 1 indicator's Icon Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: h2-size
        title: Headings 2 Font Size
        type: variable-number
        default: 2
        format: rem
    -
        id: h2-color
        title: Headings 2 Font Color
        type: variable-color
        default: var(--color-orange)
        format: hex
    -
        id: h2-indicator-color
        title: Headings 2 indicator's Icon Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: h3-size
        title: Headings 3 Font Size
        type: variable-number
        default: 1.6
        format: rem
    -
        id: h3-color
        title: Headings 3 Font Color
        type: variable-color
        default: var(--color-green)
        format: hex
    -
        id: h3-indicator-color
        title: Headings 3 indicator's Icon Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: h4-size
        title: Headings 4 Font Size
        type: variable-number
        default: 1.4
        format: rem
    -
        id: h4-color
        title: Headings 4 Font Color
        type: variable-color
        default: var(--color-cyan)
        format: hex
    -
        id: h4-indicator-color
        title: Headings 4 indicator's Icon Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: h5-size
        title: Headings 5 Font Size
        type: variable-number
        default: 1.2
        format: rem
    -
        id: h5-color
        title: Headings 5 Font Color
        type: variable-color
        default: var(--color-blue)
        format: hex
    -
        id: h5-indicator-color
        title: Headings 5 indicator's Icon Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: h6-size
        title: Headings 6 Font Size
        type: variable-number
        default: 1
        format: rem
    -
        id: h6-color
        title: Headings 6 Font Color
        type: variable-color
        default: var(--color-purple)
        format: hex
    -
        id: h6-indicator-color
        title: Headings 6 indicator's Icon Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: heading-links
        title: Links
        type: heading
        level: 2
        collapsed: true
    -
        id: disable-styled-links-in-headings
        title: Disable Link Style in Headings
        type: class-toggle
        default: false
    -
        id: link-color
        title: Internal Link's Font Color
        type: variable-color
        default: rgb(var(--color-pink-rgb), 1)
        format: rgb
        opacity: true
    -
        id: march-internal-link-background-color
        title: Internal Link's Background Color
        type: variable-color
        default: rgb(var(--color-pink-rgb), 0.2)
        format: rgb
        opacity: true
    -
        id: link-external-color
        title: External Link's Font Color
        type: variable-color
        default: rgb(var(--color-yellow-rgb), 1)
        format: rgb
        opacity: true
    -
        id: march-external-link-background-color
        title: External Link's Background Color
        type: variable-color
        default: rgb(var(--color-yellow-rgb), 0.2)
        format: rgb
        opacity: true
    - 
        id: heading-checkbox
        title: Checkbox
        type: heading
        level: 2
        collapsed: true
    -
        id: checkbox-radius
        title: Checkbox's Radius
        type: variable-text
        default: 50%
    -
        id: checklist-done-color
        title: Checkbox's Done Status Color
        type: variable-color
        default: var(--march-50-accent)
        format: hsl
        opacity: true
    -
        id: march-checklist-cancel-color
        title: Checkbox's Cancel Status Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: march-enable-custom-icons
        title: Enable Planned and Review's Checkbox Icon
        type: class-toggle
        default: true
    - 
        id: heading-codeblock
        title: Codeblock
        type: heading
        level: 2
        collapsed: true
    -
        id: march-codeblock-line-number-color
        title: Codeblock's Line Number Font Color
        type: variable-color
        default: var(--text-faint)
        format: hex
    -
        id: march-code-background
        title: Codeblock's Background Color
        type: variable-color
        default: var(--background-secondary)
        format: hex
    - 
        id: heading-blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    -
        id: blockquote-background-color
        title: Blockquote's Background Color
        type: variable-color
        default: var(--march-bg-accent)
        format: hsl
        opacity: true
    -
        id: blockquote-border-color
        title: Blockquote's Left Border Color
        type: variable-color
        default: var(--march-accent)
        format: hsl
    -
        id: blockquote-border-thickness
        title: Blockquote's Left Border Thickness
        type: variable-number
        default: 3
        format: px
    -
        id: blockquote-color
        title: Blockquote's Font Color
        type: variable-color
        default: var(--march-accent)
        format: hsl
    - 
        id: heading-callout
        title: Callout
        type: heading
        level: 2
        collapsed: true
    -
        id: callout-border-width
        title: Callout's Border Width
        type: variable-number
        default: 0.125
        format: rem
    -
        id: callout-border-opacity
        title: Callout's Border Opacity
        type: variable-number
        default: 0.5
    -
        id: callout-radius
        title: Callout's Border Radius
        type: variable-number
        default: 0.625
        format: rem
    -
        id: march-callout-border-style
        title: Callout Title's Bottom Border Style
        type: variable-select
        default: dashed
        options:
            - 
                label: Solid
                value: solid
            - 
                label: Dashed
                value: dashed
            - 
                label: Dotted
                value: dotted
            - 
                label: None
                value: none
    -
        id: callout-padding
        title: Callout's Padding
        type: variable-number
        default: 0
        format: rem
    -
        id: callout-title-padding
        title: Callout Title's Padding
        type: variable-number
        default: 0.8
        format: rem
    -
        id: callout-content-padding
        title: Callout Content's Padding
        type: variable-number
        default: 0.8
        format: rem
    - 
        id: heading-embed
        title: Embed
        type: heading
        level: 2
        collapsed: true
    -
        id: march-embed-border-color
        title: Embed's Border Color
        type: variable-color
        default: var(--march-50-accent)
        format: hsl
        opacity: true
    -
        id: march-embed-border-width
        title: Embed's Border Width
        type: variable-number
        default: 2
        format: px
    -
        id: march-embed-border-style
        title: Embed's Border Style
        type: variable-text
        default: solid
    -
        id: march-embed-border-radius
        title: Embed's Border Radius
        type: variable-number
        default: 10
        format: px
    -
        id: march-embed-title-bottom-border-style
        title: Embed Title's Bottom Border Style
        type: variable-text
        default: dashed
    -
        id: march-embed-title-background-color
        title: Embed Title's Background Color
        type: variable-color
        default: var(--march-bg-accent)
        format: hsl
        opacity: true
    -
        id: march-embed-title-font-color
        title: Embed Title's Font Color
        type: variable-color
        default: var(--march-accent)
        format: hsl
    - 
        id: heading-horizontal-rules
        title: Horizontal-Rules
        type: heading
        level: 2
        collapsed: true
    -
        id: hr-color
        title: Horizontal Rules' Color
        type: variable-color
        default: var(--march-50-accent)
        format: hsl
        opacity: true
*/
