/* ========================================================================== */
/*                           Layout - Colorful Frame                          */
/* ========================================================================== */
.enable-custom-layout-colorful-frame {
  &.theme-light {
    --normal-color: var(--text-accent);
    --unfocused-color: #{$color-accent-dark};
    --background-secondary: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%));
  }
  &.theme-dark {
    --normal-color: var(--text-accent);
    --unfocused-color: #{$color-accent-light};
    --background-secondary: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 80%));
  }
  --normal-color: var(--text-accent);
  --unfocused-color: #{$color-accent-dark};
  --background-secondary: #{$color-accent-light};
  --tab-outline-color: transparent;
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-accent);

  .workspace {
    background-color: var(--background-secondary);
  }
  .workspace-ribbon {
    --ribbon-background: var(--background-secondary);
    border-right: none;
    &::before {
      background-color: var(--background-secondary);
    }
    .side-dock-actions,
    .side-dock-settings {
      background: var(--background-primary);
      padding: 5px 0 5px 0;
      border-radius: 10px;
    }
    .clickable-icon {
      color: var(--unfocused-color);
      &:hover {
        background-color: var(--background-secondary);
        color: var(--normal-color);
      }
    }
  }
  .workspace-tab-header-container {
    --tab-container-background: var(--background-secondary);
  }
  .workspace-leaf-resize-handle {
    --divider-color: transparent;
  }
  .mod-sidedock .workspace-tab-header {
    &:not(.is-active) {
      .workspace-tab-header-inner {
        &:hover {
          background-color: var(--background-secondary);
        }
      }
    }
    color: var(--unfocused-color);

    .workspace-tab-header-inner-icon {
      color: var(--unfocused-color);
    }
    &.is-active {
      background-color: var(--background-primary);
      .workspace-tab-header-inner-icon {
        color: var(--text-accent);
      }
      &.workspace-tab-header-inner:hover {
        background-color: transparent;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
  .sidebar-toggle-button.mod-right {
    --tab-container-background: transparent;
  }
  .workspace-tab-container .view-header {
    border-bottom: $cf-border;
  }
  .workspace-split.mod-root {
    padding: 0 0 20px 0;
    background-color: var(--background-secondary);
  }
  .workspace-split.mod-right-split {
    padding: 0 10px 20px 0;
    .workspace-leaf-content {
      background-color: var(--background-primary);
      border-left: $cf-border;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .workspace-split.mod-left-split {
    padding: 0 0 20px 5px;
    .workspace-leaf-content {
      background-color: var(--background-primary);
      border-right: $cf-border;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .nav-header {
    border-bottom: $cf-border;
  }
  .inline-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--normal-color);
  }
  .menu {
    backdrop-filter: blur(10px);
    border: none;
  }
  .tooltip {
    background: var(--background-secondary);
    color: var(--unfocused-color);
  }
  .tooltip-arrow {
    display: none;
  }
  .clickable-icon {
    color: var(--unfocused-color);
    &:hover {
      background-color: var(--background-secondary);
      color: var(--normal-color);
    }
  }
}
