.theme-light,
.theme-dark {
  --march-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --march-bg-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
  --march-50-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
}

/** Catppuccin Latte: from https://catppuccin.com/palette/ */
:is(.march-color-scheme-catppuccin-latte) {
  &.theme-light {
    // --color-red: hsl(347, 87%, 44%) //red
    --color-red-r: 210;
    --color-red-g: 15;
    --color-red-b: 57;
    --color-red-rgb: var(--color-red-r), var(--color-red-g), var(--color-red-b);
    --color-red-h: 347;
    --color-red-s: 87%;
    --color-red-l: 44%;
    --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));

    // --color-orange: hsl(22, 99%, 52%) //peach
    --color-orange-r: 254;
    --color-orange-g: 108;
    --color-orange-b: 11;
    --color-orange-rgb: var(--color-orange-r), var(--color-orange-g), var(--color-orange-b);
    --color-orange-h: 22;
    --color-orange-s: 99%;
    --color-orange-l: 52%;
    --color-orange: hsl(var(--color-orange-h), var(--color-orange-s), var(--color-orange-l));

    // --color-yellow: hsl(35, 77%, 49%) //yellow
    --color-yellow-r: 223;
    --color-yellow-g: 142;
    --color-yellow-b: 29;
    --color-yellow-rgb: var(--color-yellow-r), var(--color-yellow-g), var(--color-yellow-b);
    --color-yellow-h: 35;
    --color-yellow-s: 77%;
    --color-yellow-l: 49%;
    --color-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s), var(--color-yellow-l));

    // --color-green: hsl(109, 58%, 40%) //green
    --color-green-r: 64;
    --color-green-g: 160;
    --color-green-b: 43;
    --color-green-rgb: var(--color-green-r), var(--color-green-g), var(--color-green-b);
    --color-green-h: 109;
    --color-green-s: 58%;
    --color-green-l: 40%;
    --color-green: hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));

    // --color-cyan: hsl(197, 97%, 46%) //sky
    --color-cyan-r: 4;
    --color-cyan-g: 165;
    --color-cyan-b: 229;
    --color-cyan-rgb: var(--color-cyan-r), var(--color-cyan-g), var(--color-cyan-b);
    --color-cyan-h: 197;
    --color-cyan-s: 97%;
    --color-cyan-l: 46%;
    --color-cyan: hsl(var(--color-cyan-h), var(--color-cyan-s), var(--color-cyan-l));

    // --color-blue: hsl(220, 91%, 54%) //blue
    --color-blue-r: 30;
    --color-blue-g: 102;
    --color-blue-b: 245;
    --color-blue-rgb: var(--color-blue-r), var(--color-blue-g), var(--color-blue-b);
    --color-blue-h: 220;
    --color-blue-s: 91%;
    --color-blue-l: 54%;
    --color-blue: hsl(var(--color-blue-h), var(--color-blue-s), var(--color-blue-l));

    // --color-purple: hsl(266, 85%, 58%) //mauve
    --color-purple-r: 136;
    --color-purple-g: 57;
    --color-purple-b: 239;
    --color-purple-rgb: var(--color-purple-r), var(--color-purple-g), var(--color-purple-b);
    --color-purple-h: 266;
    --color-purple-s: 85%;
    --color-purple-l: 58%;
    --color-purple: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));

    // --color-pink: hsl(316, 73%, 69%) //pink
    --color-pink-r: 234;
    --color-pink-g: 118;
    --color-pink-b: 203;
    --color-pink-rgb: var(--color-pink-r), var(--color-pink-g), var(--color-pink-b);
    --color-pink-h: 316;
    --color-pink-s: 73%;
    --color-pink-l: 69%;
    --color-pink: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));

    // --background-primary: hsl(220, 23%, 95%) //base
    --background-primary-h: 220;
    --background-primary-s: 23%;
    --background-primary-l: 95%;
    --background-primary: hsl(var(--background-primary-h), var(--background-primary-s), var(--background-primary-l));

    // --background-primary-alt: hsl(223, 16%, 83%) //surface0
    --background-primary-alt-h: 220;
    --background-primary-alt-s: 16%;
    --background-primary-alt-l: 82%;
    --background-primary-alt: hsl(var(--background-primary-alt-h), var(--background-primary-alt-s), var(--background-primary-alt-l));

    // --background-secondary: hsl(220, 21%, 89%) //crust
    --background-secondary-h: 225;
    --background-secondary-s: 23%;
    --background-secondary-l: 91%;
    --background-secondary: hsl(var(--background-secondary-h), var(--background-secondary-s), var(--background-secondary-l));

    // --background-secondary-alt: hsl(225, 14%, 77%) //surface1
    --background-secondary-alt-h: 220;
    --background-secondary-alt-s: 14%;
    --background-secondary-alt-l: 77%;
    --background-secondary-alt: hsl(var(--background-secondary-alt-h), var(--background-secondary-alt-s), var(--background-secondary-alt-l));

    // --background-modifier-border: hsl(231, 10%, 59%) //overlay1
    --background-modifier-border-h: 220;
    --background-modifier-border-s: 13%;
    --background-modifier-border-l: 72%;
    --background-modifier-border: hsl(var(--background-modifier-border-h), var(--background-modifier-border-s), var(--background-modifier-border-l));
  }
}

/** Catppuccin Mocha: from https://catppuccin.com/palette/ */
:is(.march-color-scheme-catppuccin-mocha) {
  &.theme-dark {
    // --color-red: hsl(343, 81%, 75%) //red
    --color-red-r: 243;
    --color-red-g: 139;
    --color-red-b: 168;
    --color-red-rgb: var(--color-red-r), var(--color-red-g), var(--color-red-b);
    --color-red-h: 343;
    --color-red-s: 81%;
    --color-red-l: 75%;
    --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));

    // --color-orange: hsl(23, 92%, 75%)  //peach
    --color-orange-r: 250;
    --color-orange-g: 179;
    --color-orange-b: 135;
    --color-orange-rgb: var(--color-orange-r), var(--color-orange-g), var(--color-orange-b);
    --color-orange-h: 23;
    --color-orange-s: 92%;
    --color-orange-l: 75%;
    --color-orange: hsl(var(--color-orange-h), var(--color-orange-s), var(--color-orange-l));

    // --color-yellow: hsl(41, 86%, 83%) //yellow
    --color-yellow-r: 249;
    --color-yellow-g: 226;
    --color-yellow-b: 175;
    --color-yellow-rgb: var(--color-yellow-r), var(--color-yellow-g), var(--color-yellow-b);
    --color-yellow-h: 41;
    --color-yellow-s: 86%;
    --color-yellow-l: 83%;
    --color-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s), var(--color-yellow-l));

    // --color-green: hsl(115, 54%, 76%) //green
    --color-green-r: 166;
    --color-green-g: 227;
    --color-green-b: 161;
    --color-green-rgb: var(--color-green-r), var(--color-green-g), var(--color-green-b);
    --color-green-h: 115;
    --color-green-s: 54%;
    --color-green-l: 76%;
    --color-green: hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));

    // --color-cyan: hsl(189, 71%, 73%) //sky
    --color-cyan-r: 137;
    --color-cyan-g: 220;
    --color-cyan-b: 235;
    --color-cyan-rgb: var(--color-cyan-r), var(--color-cyan-g), var(--color-cyan-b);
    --color-cyan-h: 189;
    --color-cyan-s: 71%;
    --color-cyan-l: 73%;
    --color-cyan: hsl(var(--color-cyan-h), var(--color-cyan-s), var(--color-cyan-l));

    // --color-blue: hsl(217, 92%, 76%) //blue
    --color-blue-r: 137;
    --color-blue-g: 180;
    --color-blue-b: 250;
    --color-blue-rgb: var(--color-blue-r), var(--color-blue-g), var(--color-blue-b);
    --color-blue-h: 217;
    --color-blue-s: 92%;
    --color-blue-l: 76%;
    --color-blue: hsl(var(--color-blue-h), var(--color-blue-s), var(--color-blue-l));

    // --color-purple: hsl(267, 84%, 81%) //mauve
    --color-purple-r: 203;
    --color-purple-g: 166;
    --color-purple-b: 247;
    --color-purple-rgb: var(--color-purple-r), var(--color-purple-g), var(--color-purple-b);
    --color-purple-h: 267;
    --color-purple-s: 84%;
    --color-purple-l: 81%;
    --color-purple: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));

    // --color-pink: hsl(316, 72%, 86%) //pink
    --color-pink-r: 245;
    --color-pink-g: 194;
    --color-pink-b: 231;
    --color-pink-rgb: var(--color-pink-r), var(--color-pink-g), var(--color-pink-b);
    --color-pink-h: 316;
    --color-pink-s: 72%;
    --color-pink-l: 86%;
    --color-pink: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));

    // --background-primary: hsl(240, 21%, 15%) //base
    --background-primary-h: 240;
    --background-primary-s: 21%;
    --background-primary-l: 15%;
    --background-primary: hsl(var(--background-primary-h), var(--background-primary-s), var(--background-primary-l));

    // --background-primary-alt: hsl(237, 16%, 23%) //surface0
    --background-primary-alt-h: 237;
    --background-primary-alt-s: 16%;
    --background-primary-alt-l: 23%;
    --background-primary-alt: hsl(var(--background-primary-alt-h), var(--background-primary-alt-s), var(--background-primary-alt-l));

    // --background-secondary: hsl(240, 23%, 9%) //crust
    --background-secondary-h: 240;
    --background-secondary-s: 23%;
    --background-secondary-l: 9%;
    --background-secondary: hsl(var(--background-secondary-h), var(--background-secondary-s), var(--background-secondary-l));

    // --background-secondary-alt: hsl(234, 13%, 31%) //surface1
    --background-secondary-alt-h: 234;
    --background-secondary-alt-s: 13%;
    --background-secondary-alt-l: 31%;
    --background-secondary-alt: hsl(var(--background-secondary-alt-h), var(--background-secondary-alt-s), var(--background-secondary-alt-l));

    // --background-modifier-border: hsl(230, 13%, 55%) //overlay1
    --background-modifier-border-h: 230;
    --background-modifier-border-s: 13%;
    --background-modifier-border-l: 55%;
    --background-modifier-border: hsl(var(--background-modifier-border-h), var(--background-modifier-border-s), var(--background-modifier-border-l));
  }
}

/** Nord: from https://www.nordtheme.com/docs/colors-and-palettes and from Gemini */
:is(.march-color-scheme-nord-light) {
  &.theme-light {
    // --color-red: hsl(0, 71%, 63%) //nord11 (red)
    --color-red-r: 191;
    --color-red-g: 97;
    --color-red-b: 91;
    --color-red-rgb: var(--color-red-r), var(--color-red-g), var(--color-red-b);
    --color-red-h: 4;
    --color-red-s: 48%;
    --color-red-l: 55%;
    --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));

    // --color-orange: hsl(29, 78%, 56%) //nord12 (orange)
    --color-orange-r: 235;
    --color-orange-g: 164;
    --color-orange-b: 104;
    --color-orange-rgb: var(--color-orange-r), var(--color-orange-g), var(--color-orange-b);
    --color-orange-h: 29;
    --color-orange-s: 78%;
    --color-orange-l: 66%;
    --color-orange: hsl(var(--color-orange-h), var(--color-orange-s), var(--color-orange-l));

    // --color-yellow: hsl(51, 62%, 58%) //nord13 (yellow)
    --color-yellow-r: 236;
    --color-yellow-g: 205;
    --color-yellow-b: 122;
    --color-yellow-rgb: var(--color-yellow-r), var(--color-yellow-g), var(--color-yellow-b);
    --color-yellow-h: 46;
    --color-yellow-s: 70%;
    --color-yellow-l: 70%;
    --color-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s), var(--color-yellow-l));

    // --color-green: hsl(127, 43%, 45%) //nord14 (green)
    --color-green-r: 163;
    --color-green-g: 190;
    --color-green-b: 140;
    --color-green-rgb: var(--color-green-r), var(--color-green-g), var(--color-green-b);
    --color-green-h: 93;
    --color-green-s: 26%;
    --color-green-l: 69%;
    --color-green: hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));

    // --color-cyan: hsl(197, 30%, 46%) //nord8 (aqua)
    --color-cyan-r: 142;
    --color-cyan-g: 183;
    --color-cyan-b: 185;
    --color-cyan-rgb: var(--color-cyan-r), var(--color-cyan-g), var(--color-cyan-b);
    --color-cyan-h: 183;
    --color-cyan-s: 18%;
    --color-cyan-l: 64%;
    --color-cyan: hsl(var(--color-cyan-h), var(--color-cyan-s), var(--color-cyan-l));

    // --color-blue: hsl(207, 34%, 55%) //nord7 (blue)
    --color-blue-r: 129;
    --color-blue-g: 161;
    --color-blue-b: 193;
    --color-blue-rgb: var(--color-blue-r), var(--color-blue-g), var(--color-blue-b);
    --color-blue-h: 209;
    --color-blue-s: 28%;
    --color-blue-l: 63%;
    --color-blue: hsl(var(--color-blue-h), var(--color-blue-s), var(--color-blue-l));

    // --color-purple: hsl(272, 45%, 52%) //nord15 (purple)
    --color-purple-r: 180;
    --color-purple-g: 141;
    --color-purple-b: 175;
    --color-purple-rgb: var(--color-purple-r), var(--color-purple-g), var(--color-purple-b);
    --color-purple-h: 307;
    --color-purple-s: 19%;
    --color-purple-l: 63%;
    --color-purple: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));

    // --color-pink: hsl(330, 48%, 68%) //nord10 (pink)
    --color-pink-r: 220;
    --color-pink-g: 151;
    --color-pink-b: 171;
    --color-pink-rgb: var(--color-pink-r), var(--color-pink-g), var(--color-pink-b);
    --color-pink-h: 330;
    --color-pink-s: 33%;
    --color-pink-l: 73%;
    --color-pink: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));

    // --background-primary: hsl(220, 23%, 95%) //nord6 (snow storm)
    --background-primary-h: 220;
    --background-primary-s: 23%;
    --background-primary-l: 95%;
    --background-primary: hsl(var(--background-primary-h), var(--background-primary-s), var(--background-primary-l));

    // --background-primary-alt: hsl(220, 23%, 92%) //nord5 (snow storm)
    --background-primary-alt-h: 220;
    --background-primary-alt-s: 23%;
    --background-primary-alt-l: 92%;
    --background-primary-alt: hsl(var(--background-primary-alt-h), var(--background-primary-alt-s), var(--background-primary-alt-l));

    // --background-secondary: hsl(220, 23%, 89%) //nord4 (snow storm)
    --background-secondary-h: 220;
    --background-secondary-s: 23%;
    --background-secondary-l: 89%;
    --background-secondary: hsl(var(--background-secondary-h), var(--background-secondary-s), var(--background-secondary-l));

    // --background-secondary-alt: hsl(220, 23%, 85%) //nord3 (frost)
    --background-secondary-alt-h: 220;
    --background-secondary-alt-s: 23%;
    --background-secondary-alt-l: 85%;
    --background-secondary-alt: hsl(var(--background-secondary-alt-h), var(--background-secondary-alt-s), var(--background-secondary-alt-l));

    // --background-modifier-border: hsl(220, 23%, 75%) //nord2 (frost)
    --background-modifier-border-h: 220;
    --background-modifier-border-s: 23%;
    --background-modifier-border-l: 75%;
    --background-modifier-border: hsl(var(--background-modifier-border-h), var(--background-modifier-border-s), var(--background-modifier-border-l));
  }
}

:is(.march-color-scheme-nord-dark) {
  &.theme-dark {
    // --color-red: hsl(0, 71%, 63%) //nord11 (red)
    --color-red-r: 191;
    --color-red-g: 97;
    --color-red-b: 91;
    --color-red-rgb: var(--color-red-r), var(--color-red-g), var(--color-red-b);
    --color-red-h: 4;
    --color-red-s: 48%;
    --color-red-l: 55%;
    --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));

    // --color-orange: hsl(29, 78%, 56%) //nord12 (orange)
    --color-orange-r: 235;
    --color-orange-g: 164;
    --color-orange-b: 104;
    --color-orange-rgb: var(--color-orange-r), var(--color-orange-g), var(--color-orange-b);
    --color-orange-h: 29;
    --color-orange-s: 78%;
    --color-orange-l: 66%;
    --color-orange: hsl(var(--color-orange-h), var(--color-orange-s), var(--color-orange-l));

    // --color-yellow: hsl(51, 62%, 58%) //nord13 (yellow)
    --color-yellow-r: 236;
    --color-yellow-g: 205;
    --color-yellow-b: 122;
    --color-yellow-rgb: var(--color-yellow-r), var(--color-yellow-g), var(--color-yellow-b);
    --color-yellow-h: 46;
    --color-yellow-s: 70%;
    --color-yellow-l: 70%;
    --color-yellow: hsl(var(--color-yellow-h), var(--color-yellow-s), var(--color-yellow-l));

    // --color-green: hsl(127, 43%, 45%) //nord14 (green)
    --color-green-r: 163;
    --color-green-g: 190;
    --color-green-b: 140;
    --color-green-rgb: var(--color-green-r), var(--color-green-g), var(--color-green-b);
    --color-green-h: 93;
    --color-green-s: 26%;
    --color-green-l: 69%;
    --color-green: hsl(var(--color-green-h), var(--color-green-s), var(--color-green-l));

    // --color-cyan: hsl(197, 30%, 46%) //nord8 (aqua)
    --color-cyan-r: 142;
    --color-cyan-g: 183;
    --color-cyan-b: 185;
    --color-cyan-rgb: var(--color-cyan-r), var(--color-cyan-g), var(--color-cyan-b);
    --color-cyan-h: 183;
    --color-cyan-s: 18%;
    --color-cyan-l: 64%;
    --color-cyan: hsl(var(--color-cyan-h), var(--color-cyan-s), var(--color-cyan-l));

    // --color-blue: hsl(207, 34%, 55%) //nord7 (blue)
    --color-blue-r: 129;
    --color-blue-g: 161;
    --color-blue-b: 193;
    --color-blue-rgb: var(--color-blue-r), var(--color-blue-g), var(--color-blue-b);
    --color-blue-h: 209;
    --color-blue-s: 28%;
    --color-blue-l: 63%;
    --color-blue: hsl(var(--color-blue-h), var(--color-blue-s), var(--color-blue-l));

    // --color-purple: hsl(272, 45%, 52%) //nord15 (purple)
    --color-purple-r: 180;
    --color-purple-g: 141;
    --color-purple-b: 175;
    --color-purple-rgb: var(--color-purple-r), var(--color-purple-g), var(--color-purple-b);
    --color-purple-h: 307;
    --color-purple-s: 19%;
    --color-purple-l: 63%;
    --color-purple: hsl(var(--color-purple-h), var(--color-purple-s), var(--color-purple-l));

    // --color-pink: hsl(330, 48%, 68%) //nord10 (pink)
    --color-pink-r: 220;
    --color-pink-g: 151;
    --color-pink-b: 171;
    --color-pink-rgb: var(--color-pink-r), var(--color-pink-g), var(--color-pink-b);
    --color-pink-h: 330;
    --color-pink-s: 33%;
    --color-pink-l: 73%;
    --color-pink: hsl(var(--color-pink-h), var(--color-pink-s), var(--color-pink-l));

    // --background-primary: hsl(220, 15%, 15%) //nord0 (polar night)
    --background-primary-h: 220;
    --background-primary-s: 15%;
    --background-primary-l: 15%;
    --background-primary: hsl(var(--background-primary-h), var(--background-primary-s), var(--background-primary-l));

    // --background-primary-alt: hsl(220, 16%, 17%) //nord1 (polar night)
    --background-primary-alt-h: 220;
    --background-primary-alt-s: 16%;
    --background-primary-alt-l: 17%;
    --background-primary-alt: hsl(var(--background-primary-alt-h), var(--background-primary-alt-s), var(--background-primary-alt-l));

    // --background-secondary: hsl(220, 16%, 20%) //nord2 (polar night)
    --background-secondary-h: 220;
    --background-secondary-s: 16%;
    --background-secondary-l: 20%;
    --background-secondary: hsl(var(--background-secondary-h), var(--background-secondary-s), var(--background-secondary-l));

    // --background-secondary-alt: hsl(220, 16%, 23%) //nord3 (polar night)
    --background-secondary-alt-h: 220;
    --background-secondary-alt-s: 16%;
    --background-secondary-alt-l: 23%;
    --background-secondary-alt: hsl(var(--background-secondary-alt-h), var(--background-secondary-alt-s), var(--background-secondary-alt-l));

    // --background-modifier-border: hsl(220, 16%, 30%) //nord4 (frost)
    --background-modifier-border-h: 220;
    --background-modifier-border-s: 16%;
    --background-modifier-border-l: 30%;
    --background-modifier-border: hsl(var(--background-modifier-border-h), var(--background-modifier-border-s), var(--background-modifier-border-l));
  }
}
