body {
  --titlebar-background: var(--march-accent);
  --titlebar-background-focused: var(--titlebar-background);
  --titlebar-text-color: var(--text-on-accent);
  --titlebar-text-color-focused: var(--titlebar-text-color);
  --divider-color: var(--background-modifier-border);
  --modal-border-color: var(--divider-color);

  --tab-divider-color: var(--text-on-accent);
  --tab-text-color: var(--text-on-accent);
  --tab-text-color-active: var(--text-normal);
  --tab-text-color-focused: var(--tab-text-color);
  --tab-text-color-focused-active: var(--tab-text-color-active);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-accent);

  --march-status-bar-height: calc(var(--status-bar-font-size) + var(--size-4-1) + var(--size-4-1) + 0.5rem);

  .mod-root {
    --metadata-background: var(--background-primary-alt);
    --metadata-border-width: 1px;
    --metadata-border-color: var(--background-modifier-border);
    --metadata-border-radius: 1rem;
    --metadata-padding: 0.5rem;
    --metadata-divider-width: 1px;
  }

  & .workspace-split .workspace-tabs {
    &.mod-top {
      .workspace-tab-header-container {
        --icon-color: var(--text-on-accent);
        --icon-color-focused: var(--text-on-accent);
        --icon-color-hover: var(--text-on-accent);
        .workspace-tab-header.is-active {
          background-color: var(--tab-background-active);
          --icon-color: var(--march-accent);
          --icon-color-focused: var(--march-accent);
        }
        .workspace-tab-header-status-icon {
          color: var(--titlebar-text-color);
          background: var(--titlebar-background);
        }
      }
    }
  }
  & .workspace-split.mod-horizontal:not(.mod-sidedock) .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
    background: var(--march-accent);
    --icon-color: var(--text-on-accent);
    --icon-color-focused: var(--text-on-accent);
    --icon-color-hover: var(--text-on-accent);
  }

  .sidebar-toggle-button {
    --icon-color: var(--text-on-accent);
    --icon-color-focused: var(--text-on-accent);
    --icon-color-hover: var(--text-on-accent);
  }
  .status-bar {
    --status-bar-background: var(--titlebar-background);
    --status-bar-text-color: var(--titlebar-text-color);
    --status-bar-border-color: var(--divider-color);

    border-radius: 0px;
    width: 100%;
    height: var(--march-status-bar-height);
  }
  .horizontal-main-container {
    margin-bottom: var(--march-status-bar-height);
  }
}
