body {
  --titlebar-background: var(--march-accent);
  --titlebar-background-focused: var(--titlebar-background);
  --titlebar-text-color: var(--text-on-accent);
  --titlebar-text-color-focused: var(--titlebar-text-color);
  --divider-color: var(--background-modifier-border);
  --divider-color-hover: var(--march-50-accent);
  --modal-border-color: var(--divider-color);

  --tab-divider-color: var(--text-on-accent);
  --tab-text-color: var(--text-on-accent);
  --tab-text-color-active: var(--text-normal);
  --tab-text-color-focused: var(--tab-text-color);
  --tab-text-color-focused-active: var(--tab-text-color-active);
  --tab-text-color-focused-highlighted: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-accent);

  --march-status-bar-height: calc(var(--status-bar-font-size) + var(--size-4-1) + var(--size-4-1) + 0.5rem);

  .mod-root {
    --metadata-background: var(--background-primary-alt);
    --metadata-border-width: 0px;
    --metadata-border-color: var(--background-modifier-border);
    --metadata-border-radius: 0.5rem;
    --metadata-padding: 0.5rem;
    --metadata-divider-width: 0px;
  }

  --ribbon-background: var(--background-primary);
  --tab-container-background: var(--background-primary);

  &:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: var(--background-secondary);
    border-radius: 10px;
    border: 0 solid;
    margin: 10px;
    width: auto;
  }

  .workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
  }
  .mod-root .workspace-tab-header-container .workspace-tab-header-container-inner {
    margin: 5px 0;
  }

  & .workspace-split .workspace-tabs {
    &.mod-top {
      .workspace-tab-header-container {
        border-radius: 0px;
        margin: 0;
        --icon-color: var(--text-on-accent);
        --icon-color-focused: var(--text-on-accent);
        --icon-color-hover: var(--text-on-accent);
        .workspace-tab-header.is-active {
          background-color: var(--tab-background-active);
          --icon-color: var(--march-accent);
          --icon-color-focused: var(--march-accent);

          --tab-curve: 0;
          border-radius: var(--tab-radius);
        }
        .workspace-tab-header-status-icon {
          color: var(--titlebar-text-color);
          background: var(--titlebar-background);
        }
      }
    }

    & .workspace-tab-header-container {
      background: var(--march-accent);
      border-radius: 10px;
      margin: 0 10px;
      width: auto;

      --icon-color: var(--text-on-accent);
      --icon-color-focused: var(--text-on-accent);
      --icon-color-hover: var(--text-on-accent);
      .workspace-tab-header.is-active {
        background-color: var(--tab-background-active);
        --icon-color: var(--march-accent);
        --icon-color-focused: var(--march-accent);
      }
      .workspace-tab-header-status-icon {
        color: var(--titlebar-text-color);
        background: var(--titlebar-background);
      }
    }
  }

  & .workspace-split.mod-horizontal:not(.mod-sidedock) .workspace-tab-header-container {
    margin: 0px;
    .workspace-tab-header-container-inner {
      margin: 5px 0;
    }
    .workspace-tab-header.is-active {
      --tab-curve: 0;
      border-radius: var(--tab-radius);
    }
  }
  & .workspace-split.mod-horizontal:not(.mod-sidedock) .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
    --icon-color: var(--text-on-accent);
    --icon-color-focused: var(--text-on-accent);
    --icon-color-hover: var(--text-on-accent);
  }

  & .workspace-split.mod-horizontal:not(.mod-sidedock) .workspace-tabs:not(.mod-top) {
    .workspace-tab-header-container {
      background: var(--march-accent);
      --icon-color: var(--text-on-accent);
      --icon-color-focused: var(--text-on-accent);
      --icon-color-hover: var(--text-on-accent);
    }
    .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
      --icon-color: var(--text-on-accent);
      --icon-color-focused: var(--text-on-accent);
      --icon-color-hover: var(--text-on-accent);
    }
  }

  .sidebar-toggle-button {
    --icon-color: var(--text-on-accent);
    --icon-color-focused: var(--text-on-accent);
    --icon-color-hover: var(--text-on-accent);
  }
  .status-bar {
    --status-bar-background: var(--titlebar-background);
    --status-bar-text-color: var(--titlebar-text-color);
    --status-bar-border-color: var(--divider-color);

    border-radius: 0px;
    width: 100%;
    height: var(--march-status-bar-height);
  }
  .horizontal-main-container {
    margin-bottom: var(--march-status-bar-height);
  }

  .workspace-ribbon {
    border-right: 0 solid var(--divider-color);
  }

  .workspace-leaf-resize-handle {
    --divider-width: 10px;
    --divider-color: var(--background-primary);
  }

  & .workspace-split.mod-vertical,
  & .workspace-split.mod-horizontal:not(.mod-sidedock) {
    .workspace-leaf-content {
      border: 1px solid var(--march-50-accent);
      border-radius: 10px;
      margin: 10px 0;
    }
  }
  .search-input-container input {
    width: 99%;
  }
}
