/** shrink-pinned-tab: from https://forum.obsidian.md/t/shrink-the-size-of-pinned-tabs/71914 */
.workspace-tab-header {
  &:has(.mod-pinned) {
    max-width: 3.125rem !important;
    container-type: normal !important;
    min-width: max-content !important;

    & .workspace-tab-header-inner-title {
      max-width: 3rem;
    }
  }
}
