/* ========================================================================== */
/*                                Layout - Tab                                */
/* ========================================================================== */
.enable-tab-style1 {
  --tab-accent: var(--text-muted);
  --tab-accent-hover: var(--text-accent);
  --tab-accent-bg: var(--background-primary);
  --tab-accent-bg-hover: var(--background-secondary);
  --tab-accent-border: var(--background-primary-alt);
  --tab-accent-active: var(--text-accent);
  --tab-accent-active-hover: var(--text-accent);
  --tab-accent-active-bg: var(--background-primary);
  --tab-accent-active-bg-hover: var(--background-secondary);
  --tab-accent-border-active: var(--background-primary-alt);
  .mod-root .workspace-tab-header {
    &::before,
    &::after,
    .workspace-tab-header-inner::after {
      display: none;
    }
    &:not(.is-active) {
      .workspace-tab-header-inner {
        background-color: var(--tab-accent-bg);
        color: var(--tab-accent);
        &:hover {
          background-color: transparent;
          color: var(--tab-accent-hover);
          .workspace-tab-header-inner-icon,
          .workspace-tab-header-inner-close-button {
            background-color: var(--tab-accent-bg-hover);
            color: var(--tab-accent-hover);
          }
        }
        .workspace-tab-header-inner-icon,
        .workspace-tab-header-inner-close-button {
          background-color: transparent;
          color: var(--tab-accent);
        }
      }
      .workspace-tab-header-inner {
        border-radius: 10px;
        border: $border-style-solid var(--tab-accent-border);
        &:hover {
          background-color: var(--tab-accent-bg-hover);
          border: $border-style-solid var(--tab-accent-border);
        }
      }
    }

    &.is-active {
      border: $border-style-solid var(--tab-accent-border-active);
      border-radius: 10px;
      margin-bottom: 3px;
      box-shadow: none;

      background-color: var(--tab-accent-active-bg);
      color: var(--tab-accent-active);
      .workspace-tab-header-inner-icon,
      .workspace-tab-header-inner-close-button {
        background-color: transparent;
        color: var(--tab-accent-active);
      }
      .workspace-tab-header-inner-title {
        color: var(--tab-accent-active);
      }
      &:hover {
        background-color: var(--tab-accent-active-bg-hover);
        color: var(--tab-accent-active-hover);
        border: $border-style-solid var(--tab-accent-active);
        .workspace-tab-header-inner-icon,
        .workspace-tab-header-inner-close-button {
          background-color: transparent;
          color: var(--tab-accent-active-hover);
        }
        .workspace-tab-header-inner-title {
          color: var(--tab-accent-active-hover);
        }
      }
    }
  }
}

/** enable-tab-shrink-pinned-tab is inspired from https://forum.obsidian.md/t/shrink-the-size-of-pinned-tabs/71914 */
.enable-tab-shrink-pinned-tab .workspace-tab-header:has(.mod-pinned) {
  max-width: 45px !important;

  --tab-accent: var(--tab-accent-active);

  & .workspace-tab-header-inner-title {
    display: none;
  }
  & .mod-pinned {
    display: none;
  }
  &:hover {
    & .mod-pinned {
      display: flex;
      flex-direction: column;
    }
  }
}

.enable-tab-hover-show-full-title {
  --hover-show-title: max-content; //60px
  & .workspace-tab-header {
    &:hover {
      min-width: var(--hover-show-title) !important;
      & .workspace-tab-header-inner-title {
        display: flex;
      }
    }
  }
  & .workspace-tab-header-new-tab {
    margin-inline-start: var(--size-4-3);
  }
}
.enable-tab-always-show-full-title {
  & .workspace-tab-header {
    min-width: max-content !important;
    & .workspace-tab-header-inner-title {
      margin-right: 10px;
    }
  }
  & .workspace-tab-header-new-tab {
    margin-inline-start: var(--size-4-3);
  }
}
